<!DOCTYPE html>
<html>
<head>
<link rel='stylesheet' href='https://bootswatch.com/5/vapor/bootstrap.min.css'>
<style>
body{background:radial-gradient(circle,#0f172a,#020617);color:white;text-align:center;padding-top:10%}
.card{width:350px;margin:auto;background:rgba(255,255,255,.05);padding:30px;border-radius:15px}
</style>
</head>
<body>
<div class='card'>
<h3>CALMA</h3>
<form method='POST'>
<input class='form-control mb-2' name='username' placeholder='Usuario'>
<input class='form-control mb-2' type='password' name='password' placeholder='Password'>
<button class='btn btn-primary w-100'>Ingresar</button>
</form>
<a href='/register'>Registrar</a>
</div>
</body>
</html>